* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body {
    width: 100%;
}

.contenido {
    width:60%;
    margin: 0 auto;
}
h1 {
    margin-top: 2%;
}
h1, h2 {
    color: rgb(65, 7, 39);
    text-align: center;
    border-bottom: 1px solid rgb(65, 7, 39);;
    margin-bottom: 1%;
}
.ej {
    margin-bottom: 2%;
    padding:1%;
    text-align: center;
}
.ej:nth-of-type(odd) {background-color: rgb(255, 232, 245);}
.ej:nth-of-type(even) {background-color: rgb(255, 245, 232);}
.ej > * {
    margin: 0 auto;
}
.resul {
    width: fit-content;
    border-radius: 8px;
    text-align: justify;
}
input {
    border:none;
    border-bottom: 2px solid rgb(255, 196, 206);;
}
input[type="button"] {
    background-color: rgb(65, 7, 39);
    padding:0.5%;
    color:#fff;
    border-radius: 5px;
    margin: 1% 0 1% 0;
}
li {
    margin-left: 5%;
    list-style-type: lower-alpha;
}